body {
  font-family: "Trebuchet MS", sans-serif;
}

/** Style the tweets */
.twitters {
  overflow: hidden;
  margin: 20px;
}

.twitters ul {
  list-style: none;
  white-space: nowrap;
}

.twitters span.prefix {
  font-weight: bold;
}

.twitters span.time {
  font-style: italic;
  color: #c5c5c5;
}

.twitters span.status {
  font-style: italic;
}
